<article class="grid_1-1-1">
    <div class="circle_1">
      <h1 class="text1">Indboforsikring </h1>
      <h2 class="text1">95 kr./md.*</h2>
      <p class="text1">*Indboforsikring dækker dig og én sambo</p>
    </div>
  
    <div class="circle_2">
      <div class="text">
      <h1>Cykel</h1>
      <h2>25kr./md.*</h2>
      <p>*Cykeldækning inkl. tyveri og hærværk - for dig og én sambo
        -tilvalg til indboforsikring</p>
      </div>
    </div>
  
    <div class="circle_3">
      <h1 class="text3.1">Elektronik</h1>
      <h2 class="text3.2">50kr./md.*</h2>
      <p class="text3.3">*Elektronik dækker dig og én sambo - tilvalg til indboforsikring</p>
    </div>
</article>


<style>
 .grid_1-1-1 {
    display: flex;
    padding: 13%;
    text-align: center;
    gap: 40px;  
    margin-top: 2rem;
  }

  .circle_1{
    background-color: #3F8367;
    border-radius: 50%;
    color: white;
    padding: 5.5rem;
  }

  .circle_2{
    background-color: #8C7300;
    padding: 3rem;
    border-radius: 50%;
    color: white;
  }
  .text{
    margin-top: 4em;
  }

  .circle_3{
    background-color: #D54141;
    padding: 5rem;
    border-radius: 50%;
    color: white;
  }

@media screen and (max-width: 999px) {
  .grid_1-1-1{
    padding: 125px;
  }
}

@media screen and (max-width: 999px) {
    .circle_1, .circle_2, .circle_3{
        padding: 3rem;
    }

    .grid_1-1-1{
      display: grid;
    }
    
}




  @media screen and (max-width: 450px) {
    .grid_1-1-1{
      display: grid;
    }
    
  }

</style>

<!-----
      .circle_1 {
    height: 275px;
    line-height: 25px;
    border-radius: 50%;
    font-size: 10px;
    color: #fff;
    text-align: center;
    background: #3F8367;    
  }

  .circle_1 h1 {
    padding-top: 40px;
    font-size: 20px;
  }

  .circle_1 h2 {
    font-size: ;
  }

  .circle_2 {
    height: 275px;
    line-height: 25px;
    border-radius: 50%;
    font-size: 10px;
    color: #fff;
    text-align: center;
    background: #8C7300
  }
  .circle_2 h1 {
    padding-top: 32px;
    font-size: 20px;
  }
 
  .circle_2 p {
    padding: auto;
  }

  .circle_3 {

    height: 275px;
    line-height: 25px;
    border-radius: 50%;
    font-size: 10px;
    color: #fff;
    text-align: center;
    background: #D54141
  }
  .circle_3 h1 {
    padding-top: 32px;
    font-size: 20px;
  }
--- -->
