
  <article class="grid_1-1-1">
    <div>
      <ul>
        <li>Om os</li>
        <li>Kontakt</li>
        <li>Find os</li>
      </ul>
    </div>


    <div>
      <p class="info">Telefon i hverdagene 8.30-15.00</p>
      <p class="tlfNr">33149045</p>
    </div>

    <div>
      <img class="logoBlue" src="/CA_logo_blue.png.png" alt="" />
    </div>
  </article>

  <article class="grid_1-1-1-1">
      <p>Persondatapolitik</p>
      <p>Cookiepolitik</p>
      <p>Tilgængelighedserklæring</p>
      <p>Persondatapolitik</p>
  </article>


<style>
  .grid_1-1-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "open sans";
    margin-top: 2em;
  }

  .grid_1-1-1-1 {
    display: flex;
    justify-content: space-evenly;
    font-family: "open sans"; 
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .logoBlue {
    width: 150px;

  }

.info{
    font-size: x-large;
}

.tlfNr{
    font-size: xx-large;
    font-weight: 600;
    margin-left: 6rem;
}


@media screen and (max-width: 450px) {
  .tlfNr{
    font-size: small;
    font-weight: 600;
    margin-left: 0;
  }
  
  .info{
    font-size: small;
  }

  .logoBlue{
    width: 40%;
  }

  .grid_1-1-1{
    display: unset;
  }

  .grid_1-1-1-1{
    display: unset;
  }
}
  
</style>
