<footer>
  <article class="grid_1-1-1">
    <section class="gridItem">
      <ul>
        <li>Om os</li>
        <li>Kontakt</li>
        <li>Find os</li>
      </ul>
    </section>

    <section class="gridItem">
      <p class="info">Telefon i hverdagene 8.30-15.00</p>
      <p class="tlfNr">33149045</p>
    </section>

    <section class="gridItem">
      <img class="logoBlue" src="/CA_logo_blue.png.png" alt="" />
    </section>
  </article>

  <article class="grid_1-1-1-1">
    <section class="gridItem">
      <p>Persondatapolitik</p>
    </section>

    <section class="gridItem">
      <p>Cookiepolitik</p>
    </section>

    <section class="gridItem">
      <p>Tilgængelighedserklæring</p>
    </section>

    <section class="gridItem">
      <p>Persondatapolitik</p>
    </section>
  </article>
</footer>

<style>
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    font-family: "open sans";
    margin-left: 5rem;

  }

  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: "open sans";
    margin-left: 5rem;
    margin-top: 7rem;
  }

  .logoBlue {
    width: 200px;
    margin-left: 5rem;
  }

.info{
    font-size: x-large;
}

.tlfNr{
    font-size: xx-large;
    font-weight: 600;
    margin-left: 6rem;


}
  
</style>
