<h1>Dine medlemsfordele som studerende</h1>

<article class="grid">
  <section class="gridItem">
    <h2 class="overskrift">Billig studieforsikring</h2>
    <p class="tekst">
      CA tilbyder studiemedlemmer en prisvenlig forsikringspakke med
      indboforsikring, ulykkesforsikring og rejseforsikring skræddersyet til
      studerende.
    </p>
    <span>&#8594;</span>
  </section>

  <section class="gridItem">
    <h2 class="overskrift">Gratis advokathjælp</h2>
    <p class="tekst">
      Gratis rådgivning i ansættelsessager af vores advokater i CA Advokathjælp
      – fx tjek af din ansættelseskontrakt i studiejobbet.
    </p>
    <span>&#8594;</span>
  </section>

  <section class="gridItem">
    <h2 class="overskrift">Dagpenge som nyuddannet</h2>
    <p class="tekst">Modtag dagpenge som nyuddannet i op til et år.</p>
    <span>&#8594;</span>
  </section>

  <section class="gridItem">
    <h2 class="overskrift">Online foredrag og webinarer</h2>
    <p class="tekst">
      Opnå yderligere kvalifikationer, forøg din viden og udvid dit
      professionelle netværk.
    </p>
    <span>&#8594;</span>
  </section>

  <section class="gridItem">
    <h2 class="overskrift">Karrierrådgivning</h2>
    <p class="tekst">
      Lad vores eksperter hjælpe dig med at opnå et studiejob med en god løn.
    </p>
    <span>&#8594;</span>
  </section>

  <section class="gridItem">
    <h2 class="overskrift">Feedback på ansøgningsmateriale</h2>
    <p class="tekst">
      Vi står klar til at guide dig i at forbedre din ansøgning, så du øger
      chancen for at blive indkaldt til en samtale.
    </p>
    <span>&#8594;</span>
  </section>
</article>


<style>

  h1{
    margin-left: 4em;
  }

  h2{
    color: white;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5em;
    padding: 10em;
    margin-top: -5em;
  }

  .gridItem {
    background-color: #054674;
    padding: 20px;
  }

  .overskrift {

  }

  .tekst {
    color: white;

  }

  span {
    content: "\2192";
    color: white;
  }


  @media screen and (max-width: 999px){
    .grid{
      gap: 2em;
      padding: 7em;
    }

    h1{
      margin-left: 3em;
    }
  }

  @media screen and (max-width: 450px) {
    .grid{
      grid-template-columns: none;
      gap: 2em;
      padding: 2em;
      margin-top: 1em;
    }

    h1{
      margin-left: 1em;
      font-size: 1.3rem;
    }
    
  }
</style>
