<h2>Dine medlemsfordele som studerende</h2>

<article class="grid">
  <section class="gridItem">
    <h2 class="overskrift">Billig studieforsikring</h2>
    <p class="tekst">
      CA tilbyder studiemedlemmer en prisvenlig forsikringspakke med
      indboforsikring, ulykkesforsikring og rejseforsikring skræddersyet til
      studerende.
    </p>
    <span>&#8594;</span>
  </section>

  <section class="gridItem">
    <h2 class="overskrift">Gratis advokathjælp</h2>
    <p class="tekst">
      Gratis rådgivning i ansættelsessager af vores advokater i CA Advokathjælp
      – fx tjek af din ansættelseskontrakt i studiejobbet.
    </p>
    <span>&#8594;</span>
  </section>

  <section class="gridItem">
    <h2 class="overskrift">Dagpenge som nyuddannet</h2>
    <p class="tekst">Modtag dagpenge som nyuddannet i op til et år.</p>
    <span>&#8594;</span>

</section>

  <section class="gridItem">
    <h2 class="overskrift">Online foredrag og webinarer</h2>
    <p class="tekst">
      Opnå yderligere kvalifikationer, forøg din viden og udvid dit
      professionelle netværk.
    </p>
    <span>&#8594;</span>

  </section>

  <section class="gridItem">
    <h2 class="overskrift">Karrierrådgivning</h2>
    <p class="tekst">
      Lad vores eksperter hjælpe dig med at opnå et studiejob med en god løn.
    </p>
    <span>&#8594;</span>

  </section>

  <section class="gridItem">
    <h2 class="overskrift">Feedback på ansøgningsmateriale</h2>
    <p class="tekst">
      Vi står klar til at guide dig i at forbedre din ansøgning, så du øger
      chancen for at blive indkaldt til en samtale.
    </p>
    <span>&#8594;</span>

  </section>
</article>

<style>

h2{
margin-left: 13.5rem;
margin-bottom: -9rem;
}
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 13.5rem;
    color: #fff;

  }

  .gridItem {
    background-color: #054674;
    margin: 0.5rem;
    padding: 0rem;
    width: 450px;
  }

  .overskrift {
    margin: 2rem;
    font-size: medium;
  }

  .tekst {
    margin: 2rem;
    font-size: small;
  }

  span {
    content: "\2192";
    margin: 25rem;
  }
</style>
