<header class="nav">
  <div>
  <a class="logo" href="/">
    <img class="img" src="/CA_Logo_2021_vertikal_DK_RGB.png" alt="logo" />
  </a>
  </div>

  <div class="HøjreSideNav">
  <nav class="main-menu">
    <ul>
      <li class="medlemKanp"><a href="/">Bliv medlem</a></li>
    </ul>
  </nav>

  <nav class="MitCa">
    <ul>
        <li><a href="/">Mit CA</a></li>
      <!--<a class="hamburger" href="/">X</a>-->
    </ul>
  </nav>


  <button class="hamburger">
    <div class="bar"></div>
  </button>



  <nav class="open-menu">
    <div class="Forsikringer">
      <a href="/"><strong>Forsikringer</strong></a>
      <a href="" style="font-size: 1rem;">Advokathjælp</a>
      <a href="" style="font-size: 1rem;">Lønsikring</a>
      <a href="" style="font-size: 1rem;">A-kasse og dagpenge</a>
    </div>

    <div class="Udvikling">
      <a href="/"><strong>Udvikling</strong></a>
      <a href="/" style="font-size: 1rem;">Fagkurser</a>
      <a href="" style="font-size: 1rem;">Gratis online kurser</a>
      <a href="" style="font-size: 1rem;">Karrierrådgivning</a>
      <a href="" style="font-size: 1rem;">webinarer</a>
    </div>

    <div class="MinSituation">
      <a href="/"> <strong>Min situation</strong></a>
      <a href="/" style="font-size: 1rem;">I job</a>
      <a href="/" style="font-size: 1rem;">Studerende</a>
      <a href="/" style="font-size: 1rem;">Nyuddannet</a>
    </div>

    <div class="Værktøjer">
      <a href="/"><strong>Værktøjer</strong></a>
      <a href="/" style="font-size: 1rem;">AI feedback CV <br>og ansøgning</a>
      <a href="/" style="font-size: 1rem;">Løntjek</a>
    </div>

    <div class="OfteBrugt">
      <a href="/"><strong>Ofte brugt</strong></a>
      <a href="/" style="font-size: 1rem;">Dagpengesats</a>
      <a href="/" style="font-size: 1rem;">Ferie og dagpenge</a>
      <a href="/" style="font-size: 1rem;">Dagpengekort</a>
    </div>
    
    <div class="Medlemskab">
      <a href="/"><strong>Medlemskab</strong></a>
      <a href="" style="font-size: 1rem;">Medlemsfordele</a>
      <a href="" style="font-size: 1rem;">Rabataftaler</a>
      <a href="" style="font-size: 1rem;">Bliv medlem</a>
    </div>
  </nav>
  </div>

</header>

<style>

  .img {
    width: 250px;
    margin-left: 5rem;
  }

  div{
    display: flex;
  }

  ul{
    margin-right: 45px;

  }

  .HøjreSideNav{
    margin-right: 1em;
  }

  .MitCa{
    margin-left: -2em;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
  }

  .nav li {
    display: inline-block; /* på linje */
    margin-top: 2rem;
  }
  .nav a {
    text-decoration: none;
    color: #054674;
    font-family: "open sans";
  }
  .medlemKanp a {
    background-color: #054674;
    color: white;
    padding: 10px;
    border-radius: 50px;
  }

  .medlemKanp a:hover {
    /*transform: scale(1.1);*/
    /*transition: 1s;*/
    background-color: white;
    color: #054674;
    border: 2px solid #054674;
  }

  /* Burgermenu */

  .hamburger {
    position: relative;
    display: block;
    width: 40px; /* bredden på stregerne  */
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;

    margin-top: 0rem;
    margin-right: 5em;
  }

  .hamburger .bar,
  .hamburger:after,
  .hamburger:before {
    content: "";
    display: block;
    width: 100%; /* breden på stregerne */
    height: 4px; /* tykkelsen på stregerne */
    background-color: #054674; /* farven på stregerne */
    margin: 5px -10px; /* den første afgør margin top og nr 2 afgør margin left */
    transition: 0.4s;
  }
  .hamburger.is-active:before {
    transform: rotate(-50deg) translate(-8px, 4px);
    position: relative;
    z-index: 100;
  }

  .hamburger.is-active:after {
    transform: rotate(50deg) translate(-8px, -5px);
    position: relative;
    z-index: 100;
  }

  .hamburger.is-active .bar {
    opacity: 0;
  }

  .Forsikringer,
  .Udvikling,
  .MinSituation,
  .Værktøjer, 
  .OfteBrugt,
  .Medlemskab{
    display: inline;
  }



  .open-menu {
    position: fixed;
    top: 0; /* vigtig */
    left: 100%; /* hvor meget af skærmen den fylder. jo mindre procent jo mere kan den ses på skærmen */
    width: 100%; /* hvor meget boksen fylder */
    min-height: 100vh; /* hvis man fjerner denne, så fylder den ikke hele skærmen */
    display: block; 
    z-index: 98;
    background-color: #e6e6dfed;
    padding-top: 8rem; /* tesktens placering ift toppen */
    transition: 0.4s;
    display: flex;
    justify-content: space-evenly;

  }

  .open-menu.is-active {
    left: 0;
  }

  .open-menu a {
    display: block;
    /*width: 100%;*/
    /*max-width: 200px;*/
    /*margin: 0 auto 16px;*/
    /*text-align: center;*/
    /*padding: 12px 16px;*/
    color: #000000;
    /*text-decoration: none;*/
    font-family: "open sans";
    font-weight: 500;
    font-size: x-large;
  }

  .open-menu a {
    transition: transform 0.2 ease;
  }

  .open-menu a:hover {
    transform: scale(1.1);
  }


  @media screen and (max-width: 999px) {
    .nav a{
      font-size: 1rem;
    }
  }


  @media screen and (max-width: 450px) {
    .img{
      width: 122px;
      margin-left: 0;
    }

    .nav{
      margin-top: 1rem;
    }

    ul{
      margin-right: 10px;
    }
    
    .nav a{
      font-size: 0.9rem;
    }

    .nav li{
      margin-top: 0;
    }

    .hamburger{
      margin-right: -51px;
      margin-left: 21px;
      margin-top: -0.5rem;
    }

    .HøjreSideNav{
      
    }

    .open-menu{
      display: grid;
      min-height: 49vh;
      grid-template-columns: 1fr 1fr;
    }
  }
</style>





<script>
  const menu_btn = document.querySelector(".hamburger");
  const open_menu = document.querySelector(".open-menu");

  menu_btn.addEventListener("click", function () {
    menu_btn.classList.toggle("is-active");
    open_menu.classList.toggle("is-active");
  });
</script>
