<div class="grid_1-1">
  <div class="gridItem2">
    <img class="img" src="/delafteam_billede2_forside.png" alt="logo" />
    <div class="text">
    <h2>Vil du være en del af CA’s <br> nyhedsbrev?</h2>
    <h2>Tilmeld dig her</h2>
    <label class="form"><input type="email" name="email" /></label>
  </div>
  </div>
</div>




<style>
  .grid_1-1 {
    text-align: center;
    position: relative;
    margin-bottom: 8em;
    grid-template-columns: repeat (auto-fit, minmax(300px, 1fr));
  }

  img {
    width: 50%;
    border-radius: 25px;
    display: flex;
  }


  .gridItem2 {
    position: relative;
    color: white;
    font-size: 1rem;
    gap: 16px;
    text-align: start;
    background-color: #00A5E5;
    border-radius: 25px;
    display: flex;
    gap: 80px;
  }

  h2,
  h3 {
    color: white;
    margin-top: 2em;
    line-height: 30px;
  }

  @media screen and (max-width: 999px) {
    .gridItem2{
      font-size: 0.7rem;
    }
    
  }

  @media screen and (max-width: 450px) {
    .gridItem2{
      font-size: 0.7rem;
      display: grid;
      gap: 10px;
    }

    img{
      width: 100%;
    }

    .text{
      padding: 20px;
    }
    
  }
</style>
