<div class="grid_1-1">
  <div class="gridItem_1">
    <div class="text">
    <h1>Er der gået ged i din computer?</h1>
    <h2>Vi står klar til at hjælpe dig </h2>
    <p>*CA tilbyder billig elektronikdækning ved køb af indboforsikring</p>
  </div>
    <img class="img" src="computer_forside_billede.png" alt="logo"/>
  </div>
<div>

<style>
  .grid_1-1{
    text-align: center;
    position: relative;
    margin-top: 4em;
  }

  .gridItem_1{
    position: relative;
    color: white;
    font-size: 1rem;
    gap: px;
    text-align: start;
    background-color: #0A79AE;
    border-radius: 25px;
    display: flex;
  }

  .text{
    padding: 40px;
  }
  h1{
    font-size: 3rem;
  }

  h2{
    margin-top: -20px;
    font-size: 1.8rem;
  }

  p{
    font-size: 1rem;
    margin-top: 5em;
  }

  .p{
    font-size: 1.6rem;
    margin-top: 2em;
    line-height: 16px;
  }
  img{
    width: 40%;
    border-radius: 25px;
    object-fit: cover;
  }


  @media screen and (max-width: 999px){
    h1{
      font-size: 1.3rem;
    }

    .p{
      font-size: 1.3rem;
    } 
  }

  @media screen and (max-width: 450px){
    img{
      width: 100%;
      margin-left: 0;
    }

    .gridItem_1{
      display: grid;
    }
  }

</style>

