<article class="grid_1-1">
  <section class="gridItem_1">
    <h1>
      Er der gået ged i din computer? Vi står klar <br> til at hjælpe dig
    </h1>
    <p>*CA tilbyder billig elektronikdækning ved køb af indboforsikring</p>
  </section>

  <section class="gridItem_2">
    <img class="img" src="/lcd-screen-with-cracked-glass-effect.jpg" alt="logo"/>
  </section>
</article>

  <video width="320" height="240" autoplay>
    <source src="movie.mp4" type="video/mp4">
  </video>


<article class="grid_1-1-1">
  <div class="circle_1">
    <h1>Indboforsikring </h1>
    <h2>95 kr./md.*</h2>
    <p>*Indboforsikring dækker dig og én sambo</p>
  </div>

  <div class="circle_2">
    <h1>Cykel</h1>
    <h2>25kr./md.*</h2>
    <p>*Cykeldækning inkl. tyveri og hærværk - for dig og én sambo
      -tilvalg til indboforsikring</p>
  </div>

  <div class="circle_3">
    <h1>Elektronik</h1>
    <h2>50kr./md.*</h2>
    <p>*Elektronik dækker dig og én sambo
      -tilvalg til indboforsikring</p>
  </div>

</article>


<style>
  .grid_1-1{
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: #0A79AE;
      padding-top: 5rem;
      padding-left: 5rem;
      padding-right: 5rem;
      padding-bottom: 4.5rem;
      color: white;
      margin: 9rem;
      
  }
  .grid_1-1-1 {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly; 
  }

  .grid_1-1 h1{
    font-size: 35px;
  }
  .grid_1-1 p{
    padding-top: 40px;
   
  }


  img{
    width: 500px;
    height: 300px;
   
      
  }

  .circle_1 {
    width: 275px;
    height: 275px;
    line-height: 25px;
    border-radius: 50%;
    font-size: 10px;
    color: #fff;
    text-align: center;
    background: #3F8367;
    
    
  }

  .circle_1 h1 {
    padding-top: 40px;
  }

  .circle_2 {
    width: 275px;
    height: 275px;
    line-height: 25px;
    border-radius: 50%;
    font-size: 10px;
    color: #fff;
    text-align: center;
    background: #8C7300
  }
  .circle_2 h1 {
    padding-top: 35px;
  }

  .circle_3 {
    width: 275px;
    height: 275px;
    line-height: 25px;
    border-radius: 50%;
    font-size: 10px;
    color: #fff;
    text-align: center;
    background: #D54141
  }
  .circle_3 h1 {
    padding-top: 40px;
  }

</style>
