
<article class="grid_1-1">
  <section class="gridItem">
    <h1>
        Vil du være den næste løve? - så lad CA være din partner
    </h1>
    </section>
    <section class="gridItem">
        <img class="img" src="/CA_Logo_2021_vertikal_DK_RGB.png" alt="logo" />
    </section>
</article>

<style>
.grid_1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #0A79AE;
    padding: 5rem;
    color: white;
    margin: 15rem;
    margin-top: 5rem;
  }

  img{
    width: 200px;
  }

</style>
