<div class="grid_1-1">
  <div class="gridItem_1">
    <div>
    <h1>Er der gået ged i din computer? <br> Vi står klar til at hjælpe dig </h1>
    <h1>*CA tilbyder billig elektronikdækning <br>ved køb af indboforsikring</h1>
  </div>
    <img class="img" src="/lcd-screen-with-cracked-glass-effect.jpg" alt="logo"/>
  </div>
<div>

<style>
  .grid_1-1{
    text-align: center;
    position: relative;
    margin-top: 4em;
  }

  .gridItem_1{
    position: relative;
    left: 13%;
    color: white;
    font-size: 1rem;
    gap: 16px;
    text-align: start;
    background-color: #0A79AE;
    border-radius: 25px;
    width: 73%;
    display: flex;
  }

  h1{
    font-size: 1.8rem;
    padding: 35px;
  }

  .p{
    font-size: 1.6rem;
    margin-top: 2em;
    line-height: 16px;
  }
  img{
    width: 50%;
    border-radius: 25px;
    display: flex;
  }


  @media screen and (max-width: 999px){
    h1{
      font-size: 1.3rem;
    }

    .p{
      font-size: 1.3rem;
    } 
  }

  @media screen and (max-width: 450px){
    img{
      width: 100%;
    }

    .gridItem_1{
      display: grid;
    }
  }

</style>

