<div class="grid_1-1">
  <div class="gridItem_1">
    <h1>Er der gået ged i din computer?</h1>
    <h1>Vi står klar til at hjælpe dig</h1>
    <div class="p">
    <p>*CA tilbyder billig </p>
    <p>elektronikdækning ved køb af </p>
    <p>indboforsikring</p>
    </div>
  </div>
  <img class="img" src="/screen.png" alt="logo"/>
</div>



<!-- 
  <video width="320" height="240" autoplay>
    <source src="movie.mp4" type="video/mp4">
  </video>
-->


<style>
  .grid_1-1{
    text-align: center;
    position: relative;
    margin-top: 4em;
  }

  .gridItem_1{
    position: absolute; 
    left: 13%;
    color: white;
    font-size: 1rem;
    gap: 16px;
    text-align: start;
    top: 1em;
  }

  h1{
    font-size: 1.8rem;
  }

  .p{
    font-size: 1.6rem;
    margin-top: 2em;
    line-height: 16px;
  }
  img{
    width: 80%;
    border-radius: 25px;
  }


  @media screen and (max-width: 999px){
    h1{
      font-size: 1.3rem;
    }

    .p{
      font-size: 1.3rem;
    } 
  }

  @media screen and (max-width: 450px){
   
  }

</style>

