---
import "../global.css";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";


---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <title>Document</title>
  </head>
  <body>
    <slot />
    <!-- slot er alt indhold fra pages -->
  </body>
</html>
    <Nav />
      <slot />
      <!-- slot er alt indhold fra pages -->
      <Footer />

</html>
